<ion-header>
  <ion-toolbar>
    <ion-title>Acesso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
<form >
  <ion-item lines="full" >
    <ion-label position="floating" > Usuario</ion-label>
    <ion-input name="usuario" [(ngModel)]="usuario" placeholder="insira usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Password</ion-label>
    <ion-input type="password" name="senha" [(ngModel)]="senha" placeholder="insira a senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button  expand="block" type="submit" (click)="login()" color="danger"> Sign in</ion-button>
  </ion-item>
  </form>
<div>
{{ mensagem }}
</div>
</ion-content>
